@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* #### Custom Properties #### */
:root {
    /* branding colors */
    /* Dark blue */
    --dark-blue-100: #609ED4;
    --dark-blue-200: #356EA9;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072B61;
    --dark-blue-500: #052051;
    /* Light blue */
    --light-blue-100: #F3F5FC;
    --light-blue-200: #EFF1FA;
    --light-blue-300: #E9ECF8;
    --light-blue-400: #AAB2D5;
    --light-blue-500: #757FB2;
    /* Gray */
    --gray-100: #CED4DA;
    --gray-200: #ADB5BD;
    --gray-300: #868E96;
    --gray-400: #495057;
    --gray-500: #343A40;
}
/* components */
.header-border {
    border: 1px dashed #7B61FF;
    border-radius: 5px;
}

.btn-light {
    background: #D8DFE8;
    border: 1px solid var(--dark-blue-300);
    border-radius: 24px;
    color: var(--dark-blue-300);
    height: 67px;
}

.btn-light.active:hover {
    animation-timing-function: ease-out;
    animation-duration: 300ms;
    background: var(--light-blue-200);
}

.btn-dark {
    background: var(--dark-blue-300);
    border-radius: 24px;
    color: #FFFFFF;
    height: 67px;
}

.btn-dark.active:hover {
    animation-timing-function: ease-out;
    animation-duration: 300ms;
    background: var(--dark-blue-400);
    border-radius: 24px;
}


/** {*/
/*    font-family: 'Inter', sans-serif;*/
/*}*/
body {
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    background: var(--light-blue-100);
}

.flex-container {
    display: flex;
    border: 1px solid crimson;
    padding: 20px;
    flex-flow: row wrap;
    margin: 0 auto;
    width: 80%;
    /*height: 100vh;*/
    justify-content: center;
    /*background-color: lightseagreen;*/
    /*align-content: normal;*/
    /*align-items: center;*/
}

.container {
    display: flex;
    /*border: 1px solid black;*/
    /*background-color: #FFFFFF;*/
    /*width: 50px;*/
    /*height: 120px;*/
    /*line-height: 300px;*/
    text-align: center;

    /*margin-top: 5px;*/
    /*margin-bottom: 5px;*/
    /*margin: 5px;*/
    /*flex-basis: 3; !*Width*!*/
    /*flex-grow: 1;*/
    /*height: 100px;*/
}

.box {
    gap: 2%;
}

.left {
    background-color: transparent;
    flex: 72;
    display: flex;
    flex-flow: column wrap;
}

.right {
    background-color: #FFFFFF;
    flex: 28;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    border-radius: 32px;
    box-shadow: 0 24px 32px rgba(0, 0, 0, 0.07999999821186066);
}

.box-text {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 13%;
    margin-bottom: 10%;
}


.box-text textarea {
    font-size: 32px;
    color: var(--dark-blue-300);
    text-align: left;
    resize: none;
    border: none;
    background: transparent;
}
.box-text textarea::placeholder {
    opacity: 1;
}
.termbtns {
    margin-top: auto;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
}

.btns {
    align-self: flex-end;
    display: flex;
    flex-flow: row wrap;
    gap: 5%;
}

.btns .btn-dark {
    flex: 1;
    border: 1px solid var(--dark-blue-300);
}

.btns .btn-light {
    /*background: #D8DFE8;*/
    flex: 1;
}

.terms {
    display: flex;
    align-items: center;
    gap: 5px;
}

.terms p {
    font-family: Inter, serif;
    font-size: 12px;
    opacity: 0.8;
    text-align: left;
}

/* Properties Right Box*/
.output {
    display: none;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
    padding: 32px;
}

.default {
    margin: 10%;
    flex-flow: column wrap;
    gap: 16px;
}

.muneco {
    max-width: 100%;
}

.msg-ninguno {
    color: rgba(52, 58, 64, 1);
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}

.msg-ingresa {
    color: rgba(73, 80, 87, 1);
    font-size: 16px;
    opacity: 1;
    text-align: center;
}

.btn-copiar {
    display: none;
    justify-content: center;
    margin-top: auto;
    background-color: transparent;
    padding-bottom: 20px;
    /*width: 80%;*/
}

.btn-copiar button {
    width: 80%;
}

footer.container {
    justify-content: center;
    background: var(--dark-blue-300);
    color: white;
    font-family: 'Inter';
    font-size: 16px;
    padding: 2%;
    flex-flow: row wrap;
}
