@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
    font-family: 'Inter', sans-serif;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    background: #E5E5E5;
}

div {
    border: thin solid black;
}

.flex-container {
    display: flex;
    margin: 3%;
}

.inputContainer {
    width: 70%;
    margin: 3%;
}

.resultContainer {
    width: 30%;
    margin: 3%;
    height: 50%;
    background: #FFFFFF;
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.88);
    border-radius: 32px;
}

.container-text {
    height: 80%;
}

.container-btn {
    height: 20%;
}

.inputForm {
    width: 47%;
    height: 288px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}

.container-btn p {
    color: #495057;
    font-size: 12px;
    line-height: 18px;
}

.btnContainer {
    display: flex;
    flex-direction: row;
}

.btnEncrypt {
    width: 280px;
    height: 19px;
    display: flex;
    flex-direction: row;
    /*align-items: flex-start;*/
    padding: 24px;
    gap: 8px;
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #FFFFFF;
    text-align: center;
    /*justify-content: center;*/
    align-items: center;
}

.btnDecrypt {
    width: 280px;
    height: 19px;
    display: flex;
    flex-direction: row;
    /*align-items: flex-start;*/
    padding: 24px;
    gap: 8px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    text-align: center;
    align-items: center;

}

.btnEncrypt label, .btnDecrypt label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    flex: none;
    border: 0;
    flex-grow: 1;

}

.navbar {
    display: flex;
    flex-direction: row;
}

.imgPerson img{
    width: 75%;
    padding: 2%;
    align-items: center;

}